<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>weather</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="icon" href="/css/images/weather.png">
         <link rel="stylesheet" href="/css/bootstrap.min.css" />
         <script src="https://kit.fontawesome.com/782454cdd4.js" crossorigin="anonymous"></script>
         
    </head>

    <body>
     <div class="row">
         <div class="col">
        {{title}}
        {{>header}}
        {{errormessage}}
        </div>
        </div>
        {{footer}}
    </body>
</html>