<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/css/images/weather.png">
        <link rel ="stylesheet" href="./css/styles.css">
        <script src="./js/file.js"></script>
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <h1> {{title}}</h1>
        <h1>{{name}}!!!!!</h1>
        </div>

        {{>footer}}
    </body>
</html>