<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/css/images/weather.png">
        <link rel ="stylesheet" href="./css/styles.css">
        <script src="./js/file.js"></script>
    </head>

    <body>
        <div class="main-content">
             {{>header2}}
             <h3 id="instructions">Instructions to users</h3></br>
             <div class="box">
               <ul>
                   <li>First click the search box which appears on home page. </li></br>
                   <li>Enter your location i.e Live location/any location in that search box. </li></br>
                   <li>Click the submit button to get your weather forecast. </li>
               </ul>
             </div>
        </div>

        {{>footer}}
    </body>
</html>