<!DOCTYPE html>
<html>
    <head>
        <title>weather</title>
        <link rel="icon" href="/css/images/weather.png">
        <link rel ="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
             {{>header}}
             <p>use this site to fetch weather</p>
             <form>
                 <input placeholder="Location">
                 <button>search</button>
             </form>
             <p id ="message-1" class="message"></p>
             <p id ="message-2" class="message"></p>
        </div>
     {{>footer}}
      <script src="./js/file.js"></script>
    </body>
    </html>