
   
       <footer class="row">
           <div class="col-sm-12">
              <p style="padding-top:8px;text-align:center;"> Website Designed by &copy;{{name}}</p>
           </div>
       </footer>
           
    
