
   
       <div class="row">
           <div class="col-sm-12">
              <footer style="padding-left:50px;padding-top:7px;letter-spacing:2px;"> Website Designed by {{name}}</footer>
           </div>
       </div>
           
    
