<div class="container">
            <div class="row" id="contact-header">
                <div class="col-sm-10">
                        <i class="fas fa-phone"></i> +6302696865&nbsp;&nbsp;&nbsp;
                        <i class="fas fa-envelope"></i>  jithendermalkareddy@gmail.com
                </div>
                <div class="col-sm-2 d-none d-md-block">
                        <a style="color:white;" href="https://facebook.com"><i class="fab fa-facebook"></a></i>&nbsp;&nbsp;
                        <a style="color:white;" href="https://instagram.com"><i class="fab fa-instagram"></a></i>&nbsp;&nbsp;
                        <a style="color:white;" href="https://twitter.com"><i class="fab fa-twitter"></a></i>
                </div>
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark row">
            <a href="#" class="navbar-brand"><img id="pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTD2wjNWNjiqcHb6nPSFnpLrw0n8qEv4vrb09k6zP_KriDth21C" width="50px"></a>
            <button data-toggle="collapse" data-target="#jithu" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="jithu" class="collapse navbar-collapse">    <!--here collapsed links with help of navbar-expand-sm in sml devices it gets removed -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  navlinks ">
                        <a href="/" class="nav-link">weather</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item navlinks ">
                            <a href="/about" class="nav-link">about me</a>
                        </li>&nbsp;&nbsp;&nbsp;
                            <li class="nav-item navlinks linkact">
                                    <a href="/help" class="nav-link">  help</a>
                </ul>
            </div>
            </nav>