{{!-- <h1>I am a part of your website called partial visiting all the pages in your webpages...</h1> --}}
<header>
    <h1>{{title}}</h1>
    <li>
<a href="/" class="active">Weather</a>&nbsp;&nbsp;
<a href = "/about">About</a>&nbsp;&nbsp;
<a href="/help">Help</a>
</li>
</header>

{{!-- <h5>created by {{name}}</h5> --}}