body{
font-family:comic sans ms;
color:red;
width:700px;
margin:0 auto;
padding:50px;
background-color:yellowgreen;
letter-spacing: 1px;

display:flex;
flex-direction:column;
min-height: 90vh;
}
.main-content
{
    flex-grow: 1;
}

input
{
width:250px;
height:40px;
border:1px solid #eeeeee;
border-radius:10px;
}
button
{
cursor:pointer;
font-family:comic sans ms;
height:45px;
color:indigo;
width:90px;
border-radius:5px;
}
header h1{
    font-size:45px;
    font-family:arial;
    margin-left:25px;

}
header{
    margin-top:10px;
    margin-bottom:10px;
}
header a{
    text-decoration: none;
    padding-right:20px;
    font-size:26px;
}
footer
{
color:black;
border-top:1px solid #eeeeee;
padding:10px 10px 25px 15px;
margin-top:20px;
}